
 
 a {
text-decoration: none;
 color: #fff;
font-size: 14pt;

}
 



h1 {

position: relative;
top: 40%;
left:28%;
font-size: 18px;
font-weight:bold;
color: #fff;
font-family: Arial;


}




	#button_header{
		background-color:black;
		position:absolute;
		top:50%;
		left:40%;
		
	}
	
	.button_search_box{
		margin: 0;
		padding: 6px 20px;
		font-family: Arial;
		font-size:14px;
		color:#432;
		border-top-right-radius: 5px 5px;
		border-bottom-right-radius: 5px 5px;
		border-top-left-radius: 5px 5px;
		border-bottom-left-radius: 5px 5px;
		
		
		

	}
	.button_2 {
	
		cursor: pointer;
		text-align: center;
		font-family: Arial;
		font-size:14px;
		font-weight:bold;
		text-decoration: none;
		color: white;
		background: #20553d;
		border-top-right-radius: 5px 5px;
		border-bottom-right-radius: 5px 5px;
		border-top-left-radius: 5px 5px;
		border-bottom-left-radius: 5px 5px;
		position: absolute;
		top: 110%;
		left: 65%;
		
	}
