body{
	text-align: center;
	background-color: #000;
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
}
/* used header tags for index/login, so id will be used from now on */
header {
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
}
header h1 {
	font-size: 72px;
	margin-bottom: 0;
}
a {
	text-decoration: none;
	color: #CC5200;
}
a:hover {
	font-weight: bold;
}
#header {
	width: 900px;
	height: 100px;
	margin-top: 50px;
	margin: 0 auto;
	display: block;
}
#logo {
	display: inline;
	float: left;
	padding: 25px;
	font-size: 60px;
	font-weight: bold;
}
#menu {
	float: right;
	margin-top: 65px;
	font-size: 20px;
}
#menu a {
	text-decoration: none;
	color: #fff;
}
#menu a:hover {
	font-weight: bold;
	color: #CC5200;
}
#footer {
	width: 200px;
	float: right;
}
#footer a{
	text-decoration: none;
	color: #fff;
}
#footer a:hover {
	font-weight: bold;
	color: #CC5200;
}
#content {
	margin-top: 50px;
}
#register {
	display: block;
	margin: 0 auto;
}
#login {
	display: block;
	margin: 0 auto;
}
input {
	margin: 0 auto;
	padding: 15px;
	width: 300px;
	border: 0;
	font-size: 24px;
}
.no_margin {
	margin: 0;
}
#email_reg {
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom: 1px solid #bbb;
}
#password_reg {
	border-bottom: 1px solid #bbb;
}
#username_reg {
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}
#email_login {
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom: 1px solid #bbb;
}
#password_login {
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}
#submit_button {
	background-color: #2C4762;
	color: #fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	cursor: pointer;
}
#login_button {
	background-color: #CC5200;
	font-family: arial;
	font-size: 24px;
	padding: 15px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	cursor: pointer;
	width: 270px;
	text-align: center;
	display: block;
	margin: 0 auto;
	color: #fff;
	text-decoration: none;
}
#login_button_2 {
	background-color: #CC5200;
	font-family: arial;
	color: #fff;
	padding: 15px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	cursor: pointer;
}
#register_button {
	background-color: #2C4762;
	font-family: arial;
	font-size: 20px;
	padding: 15px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	cursor: pointer;
	width: 270px;
	text-align: center;
	display: block;
	margin: 0 auto;
	font-size: 24px;
	color: #fff;
	text-decoration: none;
}
#error {
	width: 270px;
	background-color: #CC0000;
	padding: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	width: 290px;
	text-align: center;
	display: block;
	margin: 0 auto;
	margin-bottom: 15px;
	color: #fff;
}
#search_button {
	background-color: #CC5200;
	font-family: arial;
	color: #fff;
	padding: 15px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	cursor: pointer;
	width: 330px;
}
#post {
	text-align: left;
	font-size: 24px;
	margin-bottom: 25px;
	word-wrap: break-word;
}
#likes {
	width: 250px;
	text-align: left;
	margin-left: 100px;
}
.myButton {
	background-color: #CC5200;
	font-family: arial;
	font-size: 14px;
	padding: 10px 20px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	cursor: pointer;
	text-align: center;
	color: #fff;
	text-decoration: none;
}
#feed_top {
	margin-top: 50px;
	text-align: left;
}
#feed_top .row {
	margin: 15px 0px;
}
#comments {
	margin-top: 50px;
	text-align: left;
}
#comments .row {
	margin: 15px 0px;
}
#feed {
	margin-top: 50px;
	text-align: left;
}
#feed .row {
	margin: 15px 0px;
}
#feed .button_row {
	margin-bottom: 35px;
}
.floatedCellFollowers {
    float: left;
    width: 180px;
	padding: 0 10px;
	border-right: 1px solid white;
}
.floatedCellFollowing {
    float:left;
    width: 160px;
	padding: 0 10px;
	margin-left: 20px;
}
.floatedCellNewPost {
    float:right;
    width: 180px;
	padding: 0 10px;
}
.floatedCellUsername {
    float:left;
	margin-left: 0px;
    width: 200px;
    height: 30px;
}
.floatedCellComment {
    float:right;
    width: 600px;
	padding: 0 10px;
	word-wrap: break-word;
}
.floatedCellPost {
    float:right;
    width: 600px;
	padding: 0 10px;
	word-wrap: break-word;
}
.clear {
    clear: both;
}
#new-post-buttons {
	display: block;
	margin: 0 auto;
}
#new-post-text-header {
	background-color: #2C4762;
	font-family: arial;
	font-size: 14px;
	padding: 20px 45px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	cursor: pointer;
	text-align: center;
	color: #fff;
	text-decoration: none;
	display: inline;
	width: 200px;
}
#new-post-picture-header {
	background-color: #2C4762;
	font-family: arial;
	font-size: 14px;
	padding: 20px 32px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	cursor: pointer;
	text-align: center;
	color: #fff;
	text-decoration: none;
	display: inline;
	margin-left: 50px;
}
#new-post-text {
	margin-top: 50px;
}
#new-post-picture {
	margin-top: 50px;
}
.post_button {
	background-color: #CC5200;
	color: #fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	cursor: pointer;
}
#postr_team {
	
}
#postr_team #andrew {
	width: 400px;
	text-align: center;
	float: left;
}
#postr_team #andrew img{
	width: 80%; 
	height: 80%; 
	border: 1px solid white; 
}
#postr_team #andres {
	width: 400px;
	text-align: center;
	float: right;
}
#postr_team #andres img{
	width: 80%; 
	height: 80%; 
	border: 1px solid white; 
}
#postr_team #omeed {
	width: 400px;
	text-align: center;
	margin-top: 25px;
	float: left;
}
#postr_team #omeed img{
	width: 80%; 
	height: 80%; 
	border: 1px solid white; 
}
#postr_team #sam {
	width: 400px;
	text-align: center;
	float: right;
}
#postr_team #sam img{
	width: 80%; 
	height: 80%; 
	border: 1px solid white; 
}